*.class
pom.properties
target/
.project
.classpath
.settings
.springBeans
.idea

.metadata/*
.recommenders/*
Servers/*


uris-front/config/*
uris-front/dist/*
uris-front/protactor.conf.js
uris-front/node_modules/*
uris-front/angular-cli.json
uris-front/.angular-cli.json
uris-front/tsconfig.json
uris-front/tsconfig.webpack.json
uris-front/tslint.json
uris-front/typedoc.json
uris-front/editorconfig
uris-front/.editorconfig
uris-front/project
uris-front/travis.yml
uris-front/npmrc
uris-front/.npmrc
uris-front/karma.conf.js
uris-front/LICENSE
uris-front/package.json
uris-front/package-lock.json